.card-3d-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-3d-parent {
  width: 300px;
  padding: 20px;
  perspective: 1000px;
}

.card-3d {
  padding-top: 50px;
  border: 3px solid #141414;
  transform-style: preserve-3d;
  background: linear-gradient(135deg, #0000 18.75%, #f3f3f3 0 31.25%, #0000 0),
    repeating-linear-gradient(45deg, #f3f3f3 -6.25% 6.25%, #141414 0 18.75%);
  background-size: 60px 60px;
  background-position: 0 0, 0 0;
  background-color: #141414;
  width: 100%;
  box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.card-3d:hover {
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.card-3d-content-box {
  background: #ffffff;
  transition: all 0.5s ease-in-out;
  padding: 60px 25px 25px 25px;
  transform-style: preserve-3d;
}

.card-3d-content-box .card-3d-title {
  display: inline-block;
  color: #141414;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
}

.card-3d-content-box .card-3d-title:hover {
  transform: translate3d(0px, 0px, 60px);
}

.card-3d-content-box .card-3d-content {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #666666;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 30px);
}

.card-3d-content-box .card-3d-content:hover {
  transform: translate3d(0px, 0px, 60px);
}

.card-3d-content-box .card-3d-see-more {
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 900;
  font-size: 9px;
  text-transform: uppercase;
  color: #ffffff;
  background: #141414;
  padding: 0.5rem 0.7rem;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.card-3d-content-box .card-3d-see-more:hover {
  transform: translate3d(0px, 0px, 60px);
  background: #333333;
}

.card-3d-date-box {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 60px;
  width: 60px;
  background: #141414;
  border: 1px solid #ffffff;
  padding: 10px;
  transform: translate3d(0px, 0px, 80px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
}

.card-3d-date-box span {
  display: block;
  text-align: center;
}

.card-3d-date-box .card-3d-month {
  color: #ffffff;
  font-size: 9px;
  font-weight: 700;
}

.card-3d-date-box .card-3d-date {
  font-size: 20px;
  font-weight: 900;
  color: #ffffff;
}

.card-3d-icon {
  position: absolute;
  top: 35px;
  left: 35px;
  color: var(--primary-purple, #6729FF);
  z-index: 10;
  transform: translate3d(0px, 0px, 70px);
  transition: all 0.5s ease-in-out;
}

.card-3d:hover .card-3d-icon {
  transform: translate3d(0px, 0px, 90px);
  color: var(--primary-blue, #6729FF);
}

